html {
  box-sizing: border-box;
  color: white;
  font-family: 'source-sans-pro', sans-serif;
}

.controls {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 50px;
  text-align: right;
}

.controls.hide {
  display: none;
}

* {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #111;
}

canvas {
  display: block;
  background: #111;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

.visualizr {
  position: relative;
  height: 100%;
}

.playpause {
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 35px;
  /* width: 35px; */
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/spinner.png);
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-animation: rotate .75s infinite linear;
  -moz-animation: rotate .75s infinite linear;
  animation: rotate .75s infinite linear;
}

.small .playpause {
  width: 24px;
  height: 24px;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(-360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(-360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

.playing .playpause {
  background-image: url(../img/pause.png) !important;
}

.loaded .playpause {
  width: 35px;
  height: 48px;
  background-image: url(../img/play.png);
  background-position: center center;
  color: transparent;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  top: 50px;
  left: 50px;
}

.small.loaded .playpause {
  width: 17px;
  height: 24px;
}

.controls {
  font-size: 0.8em;
  font-weight: 100;
}

input[type=range] {
  position: relative;
  top: 4px;
}

.field {
  margin-bottom: 0.4em;
}
